# Игнорируем файлы конфигурации с токенами
config.json
.env
postgres.json

# Игнорирование папки db
/db/
/src/db/
# Игнорирование папок __pycache__
__pycache__/
*.pyc
*.pyo
*.pyd

# Игнорируем временные файлы
*.log
*.tmp

# Игнорируем зависимости Node.js
node_modules/