# Игнорируем файлы конфигурации с токенами
config.json
.env


# Игнорирование папки db
/db/

# Игнорирование папок __pycache__
__pycache__/
*.pyc
*.pyo
*.pyd

# Игнорируем временные файлы
*.log
*.tmp

# Игнорируем зависимости Node.js
node_modules/